* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* height: 500vh; */
    overflow-x: hidden;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    align-items: center;
    position: fixed;
    width: 100%;
}

header a {
    position: relative;
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: 900;
    animation-name: menubar;
    animation-duration: 1s;
}

header ul {
    display: flex;
    animation-name: menubar;
    animation-duration: 2s;
}

header ul li {
    padding: 20px;
    list-style: none;
}

header ul li a {
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

@keyframes menubar {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.banner img {
    width: 100vw;
    object-fit: fill;
    z-index: -1;
}

.hero-text {
    position: absolute;
    top: 300px;
    left: 100px;
    font-weight: bolder;
    color: white;
    display: flex;
    animation-name: hero-text-animation;
    animation-duration: 2s;
}

@keyframes hero-text-animation {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.hero-text span {
    font-size: 4em;
}

.hero-text .tag-line p {
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;
    width: 100
}

.tag-line {
    flex-basis: 50%;
}

.tag-space {
    flex-basis: 50%;
}

.contact-now {
    padding: 15px 30px;
    font-size: 1em;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 200px;
    font-weight: 00;
}

@media screen and (max-device-width:360px),
screen and (max-width:360px) {
    * {
        margin: 0;
    }
}